.showcase-container {
  padding: 30px 0px;
  background: var(--color3);
}


.slick-slide {
    background: var(--color3) !important;
 }


@media (max-width: 768px) {
  .showcase-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
 